[submodule "binance_algorithmic_trading/binance_algorithmic_trading/strategies/proprietary-strategies"]
	path = binance_algorithmic_trading/binance_algorithmic_trading/strategies/proprietary-strategies
	url = https://github.com/matthewett29/proprietary-strategies.git
